﻿@page "{id:min(1)}"
@model Quiz1Auction.Pages.AuctionModel
@{
    ViewData["Title"] = "Auction";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input hidden asp-for="Bid.Id" />
            <input hidden asp-for="Bid.SellerEmail" />
            <input hidden asp-for="Bid.ItemName" />
             <input hidden asp-for="Bid.ItemDescription" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bid.Id" class="control-label"></label>
                <input asp-for="Bid.Id" class="form-control" value="@Model.Bid.Id" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Bid.SellerEmail" class="control-label"></label>
                <input asp-for="Bid.SellerEmail" class="form-control" value="@Model.Bid.SellerEmail" disabled />
                <span asp-validation-for="Bid.SellerEmail" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Bid.ItemName" class="control-label"></label>
                <input asp-for="Bid.ItemName" class="form-control" disabled />
                <span asp-validation-for="Bid.ItemName" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Bid.ItemDescription">Item Description</label>
                <textarea asp-for="Bid.ItemDescription" class="form-control" rows="10" disabled></textarea>

            </div>

            <div class="form-group">
                <label asp-for="Bid.LastPrice" class="control-label">New Bid Price</label>
                <input asp-for="Bid.LastPrice" class="form-control" />
                <span asp-validation-for="Bid.LastPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bid.LastBidderEmail" class="control-label"></label>
                <input asp-for="Bid.LastBidderEmail" class="form-control" />
                <span asp-validation-for="Bid.LastBidderEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit your Bid" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>
