﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive table-striped">
                <table class="table" id="myTable">
                    <thead class="bg-info text-white">
                        <tr>
                            <th>Id</th>
                            <th>Seller's Email</th>
                            <th>Item Name</th>
                            <th>Last Price</th>
                            <th>Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var auction in Model.AuctionList)
                        {
                            <tr>
                                <td>@auction.Id</td>
                                <td>@auction.SellerEmail</td>
                                <td>@auction.ItemName</td>
                                <td>@auction.LastPrice</td>
                                <td><a asp-page="/Auction" asp-route-id="@auction.Id" class="btn btn-info">Place your Bid</a>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
