﻿@page
@model Quiz1Auction.Pages.NewAuctionModel
@{
    ViewData["Title"] = "New Auction";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Auction.SellerEmail" class="control-label"></label>
                <input asp-for="Auction.SellerEmail" class="form-control" />
                <span asp-validation-for="Auction.SellerEmail" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Auction.ItemName" class="control-label"></label>
                <input asp-for="Auction.ItemName" class="form-control" />
                <span asp-validation-for="Auction.ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Auction.ItemDescription">Item Description</label>
                <textarea asp-for="Auction.ItemDescription" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Auction.ItemDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Auction.LastPrice" class="control-label">Initial Price</label>
                <input asp-for="Auction.LastPrice" class="form-control" />
                <span asp-validation-for="Auction.LastPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create New Auction" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>
