﻿@page
@model Quiz1Auction.Pages.NewAuctionSuccessModel
@{
    ViewData["Title"] = "New Auction Success";
}

<h4 class="text-info">New Auction was created</h4>
<a asp-page="/Index">Link to Main Page</a>
