﻿@page
@model Razor.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h1>The resource you are looking for cannot be found</h1>
<a asp-page="/Employees/Index" class="btn btn-primary">
    Click here to get back to home
</a>
