﻿@page
@model Blog.Pages.ArticleAddModel
@{
    ViewBag.Title = "Add Article";
}
<h1>Add Article</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Title"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Body">Content</label>
                <textarea asp-for="Article.Body" class="form-control" rows="10" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>