﻿@page
@model Blog.Pages.RegisterSuccessModel
@{
    ViewBag.Title = "Registration Success";
}
<h1>@ViewData["Title"]</h1>

<h4 class="text-info">User was added to the database @Model.Email</h4>
<a class="nav-link" asp-area="" asp-page="./Login">Click to Login</a>
