﻿@page "{id:min(1)}"
@model Razor.Pages.Employees.DeleteModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ShowButtons"] = false;
}
<h1>@ViewData["Title"] Confirmation</h1>

<div class="alert alert-danger">
    <partial name="_displayEmployeePartial" model="Model.Employee" view-data="ViewData"></partial>
    <h5>Are you sure you want to delete employee - @Model.Employee.Name</h5>
    <form method="POST">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a class="btn btn-primary" asp-page="/Employees/Index">No, Cancel</a>
    </form>
</div>