﻿@page 
@model Razor.Page.IndexModel
@{
    ViewData["Title"] = "Employees";
    ViewData["ShowButtons"] = true;
}
<h1>Employees</h1>
<div class="card-deck">
    @foreach (var employee in Model.Employees)
    {
        <partial name="_displayEmployeePartial" model="employee" view-data="ViewData"></partial>
    }
</div>