﻿@model Employee
@{
    var photoPath = "~/images/" + (Model.PhotoPath ?? "ad1.png");
    var showButons = (bool)ViewData["ShowButtons"];
}

<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>

    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

    @if (showButons)
    {
        <div class="card-footer text-center">
            <a asp-page="/Employees/Details" asp-route-id="@Model.Id" class="btn btn-primary m-1">View</a>
            <a asp-page="/Employees/Edit" asp-route-id="@Model.Id" class="btn btn-primary m-1">Edit</a>
            <a asp-page="/Employees/Delete" asp-route-Id="@Model.Id" class="btn btn-danger m-1">Delete</a>
        </div>
    }
</div>