﻿@page
@model MyFriends.Pages.AddModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <label asp-for="Friend.Name" class="control-label"></label>
                <input asp-for="Friend.Name" class="form-control" />
                <span asp-validation-for="Friend.Name"></span>
            </div>


            <div class="form-group">
                <label asp-for="Friend.Age" class="control-label"></label>
                <input asp-for="Friend.Age" class="form-control" />
                <span asp-validation-for="Friend.Age"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Friend" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>
