﻿@page
@model Practice2.Pages.LoginSuccessModel
@{
    ViewData["Title"] = "Login successful";
}

<h1>@ViewData["Title"]</h1>
{
    <p>Login successful. 
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}
